{% extends 'base.html.twig' %}

{% block title %}Marque{% endblock %}

{% block body %}
 <div class="row">
              <div class="col-md-12">
              <a href="{{ path('app_typeinstrument_new')}}"><button class="btn btn-secondary"><span class="btn-label"><i class="fa fa-plus"></i></span>Nouveau type d'instrument</button></a>
                <div class="card">
                  <div class="card-header">
                    <div class="d-flex align-items-center">
                      <h4 class="card-title">Liste des Types d'instrument</h4>
                    </div>
                  </div>
                  <div class="card-body">
                    <!-- Modal -->
                 

                    <div class="table-responsive">
                      <table class="display table table-striped table-hover">
                        <thead>
                          <tr>
                            <th>Libelle</th>
                            <th style="width: 10%">Action</th>
                          </tr>
                        </thead>
                        <tfoot>
                          <tr>
                            <th>Libelle</th>
                            <th style="width: 10%">Action</th>                         
                          </tr>
                        </tfoot>
                        <tbody>
                         {% for typeinstruments in typeinstrument %}
                        <tr>
                             <td>{{ typeinstruments.libelle}}</td>
                             <td>
                              <div class="form-button-action">
                                <button class="btn btn-link btn-primary btn-lg">
                                  <a href="{{ path('app_typeinstrument_edit',{'id': typeinstruments.id})}}" ><i class="fa fa-edit"></i></a>
                                </button> 
                                <button class="btn btn-link btn-danger btn-lg">
                                  <a href="{{ path('app_typeinstrument_delete',{'id': typeinstruments.id})}}" ><i class="fa fa-trash"></i></a>
                                </button>
                              </div>
                            </td>
                        </tr>
                             {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
{% endblock %}

